<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Posts</h2>
      <p>Live, love have fun and enjoy your free time. Here are some ideas utilizing the leisure time.</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Trips</li>
          <li data-filter=".filter-card">Books</li>
          <li data-filter=".filter-web">Other</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div *ngFor='let theme of themes' class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <p>{{theme.themeName}}</p>
          <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{theme.created_at}}</h4>
            <p>{{theme.userId.username}}</p>
          </div>
          <div class="portfolio-links">
            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
              title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- End Portfolio Section -->