<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">BBlog: Life & Leisure</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="../../../assets/img/BBlog_logo_green.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#resume">Trips and Places</a></li>
          <li><a class="nav-link scrollto" href="#services">Books</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Cooking</a></li>
          <li class="dropdown"><a href="#"><span>Other Ideas</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Motivation and Inspiration</a></li>
              <li class="dropdown"><a href="#"><span>I love myself</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Nail Art</a></li>
                  <li><a href="#">Hair Care</a></li>
                  <li><a href="#">Make up</a></li>
                </ul>
              </li>
              <li><a href="#">Mysteries</a></li>
              <li><a href="#">Memes</a></li>
              <li><a href="#">Longlife Learning</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Join the Group</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
