@import '~swiper/swiper-bundle';
 
 
 /*--------------------------------------------------------------
 # General
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #5a656e;
}

a {
  color: #d43076;
  text-decoration: none;
}

a:hover {
  color: #dd5a92;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background: #d43076;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #db528c;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
